<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.chat.webchat.dao.FriendMapper">
  <resultMap id="BaseResultMap" type="com.web.chat.webchat.dao.bean.Friend">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USERID" jdbcType="INTEGER" property="userid" />
    <result column="FRIEND_USERID" jdbcType="INTEGER" property="friendUserid" />
    <result column="COMMENT" jdbcType="VARCHAR" property="comment" />
    <result column="DELETED" jdbcType="CHAR" property="deleted" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="DELETETIME" jdbcType="TIMESTAMP" property="deletetime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USERID, FRIEND_USERID, COMMENT, DELETED, CREATETIME, DELETETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FRIEND
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from FRIEND
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.chat.webchat.dao.bean.Friend">
    insert into FRIEND (ID, USERID, FRIEND_USERID, 
      COMMENT, DELETED, CREATETIME, 
      DELETETIME)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{friendUserid,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{deleted,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.web.chat.webchat.dao.bean.Friend">
    insert into FRIEND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="friendUserid != null">
        FRIEND_USERID,
      </if>
      <if test="comment != null">
        COMMENT,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="deletetime != null">
        DELETETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="friendUserid != null">
        #{friendUserid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.chat.webchat.dao.bean.Friend">
    update FRIEND
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="friendUserid != null">
        FRIEND_USERID = #{friendUserid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.chat.webchat.dao.bean.Friend">
    update FRIEND
    set USERID = #{userid,jdbcType=INTEGER},
      FRIEND_USERID = #{friendUserid,jdbcType=INTEGER},
      COMMENT = #{comment,jdbcType=VARCHAR},
      DELETED = #{deleted,jdbcType=CHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>